html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 320px;
}
p, span, a {
    font-size:18px;
}
header {
    position:absolute;
    width: 100%;
    z-index: 1;
    top:0;
}
header.fixed {
    position:fixed;
    top:0;
    left:0;
}
footer {
    box-sizing:border-box;
    padding: 15px 15px;
    background-color: #375a7f;
    color:#fff;
}
footer p {
    text-transform: uppercase;
    font-size: 13px;
    font-style: italic;
}
.navbar {
    border-radius:0;
    border-left: none;
    border-right:none;
    margin-bottom:0;
}
.box.grey {
    background-color:#eaf1f1;
}
.box.dark {
     background-color:#375a7f;
}
.box.blue {
    background-color: #3498db;
}
.box.black {
    background-color:#464545;
}
.box.green {
     background-color:#00bc8c;
}
.navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle:hover {
    background:none;
}
.navbar-default .navbar-toggle:focus {
    background:none;
}
.mainImage {
    margin-left:-15px;
    margin-right:-15px;
}
.wrapper{
    margin-top:50px;
}
.mainImage img {
    max-width:100%;
}
.demoButton {
    width: 300px;
    height:50px;
    position:absolute;
    top: 40%;
    left:50%;
    margin-left:-150px;
    font-size: 20px;
}
.box {
    height: 200px;
    background:#ccc;
    box-sizing:border-box;
    padding:10px;
}
.box h2 {
    padding:0;
    margin:0;
    text-align:center;
    color:#fff;
}
.logo {
    text-align:center;
    height:200px;
    position:relative;
    padding-top: 100px;
}
.logo span {
    position:absolute;
    width: 100%;
    bottom:0;
    left: 0;
}
.logo img {
   max-width:100%;
   max-width: 150px;
   max-height: 100px;
   position: relative;
   top: 50%;
   margin-top: -50%;
}
h2 {
    font-size:22px;
    color:#ccc;
}
.poweredTitle h2 {
    text-align:center;
    margin: 40px 0 0 0;
    font-weight: 600;
}
.poweredBy {
    padding-bottom: 50px;
}
.navbar-brand {
    font-size:40px;
}
.popup {
    width:100%;
    height:100%;
    position:fixed;
    top:52px;
    left:0;
    background-color:#fff;
    z-index: 2;
    animation-duration: .5s !important;
}
.closePanel {
    width: 25px;
    color: #000;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index:5;
}
.appDescription {
    position: absolute;
    left: 35px;
    color: #fff;
    top: 260px;
    font-size: 16px;
    animation-duration: .75s !important;
}
.closePanel img {
    max-width:100%;
}
.demoView {
    width: 300px;
    margin: 30px auto;
    height:100%;
    position:relative;
}
.demoView img {
    max-width:100%;
    position: relative;
}
.appScreen {
    width: 273px;
    height: 445px;
    position: absolute;
    top: 67px;
    left: 14px;
    background-color: #fff;
    animation-duration: .5s !important;
    border-radius: 2px;
    z-index: 99;
}
@media (max-width: 992px) {
    .logo {
        padding-top: 60px;
    }
}
@media screen and (max-width: 540px) {
    .logo {
        height:130px;
        padding-top: 0px;
    }
    .logo img {
       max-width:100%;
       max-width: 90px;
       max-height: 60px;
    }
    .demoButton {
        width: 200px;
        height:35px;
        margin-left:-100px;
        font-size: 16px;
    }
}